<div class="ui-top">
    <div class="mint">
        <div class="ui-top-l">
            <a href="http://www.51jurenqi.com/main/home/index" class="ui-top-logo"><img src="http://www.51jurenqi.com/assets/img/rqb/logo1.png"></a>
        </div>
                <div class="ui-top-r">
                    <a href="tencent://message/?uin=2077817976&Site=www.51jurenqi.com&Menu=yes" target="_blank"
                       class="account-bddp-bt-a" style="CURSOR: pointer;color:#fff;">在线客服</a>

                    <span>您好，<m><a href="http://www.51jurenqi.com/main/account/center">15317173840</a></m>
				
                        <img src="http://www.51jurenqi.com/assets/img/rqb/acc-09.png"></span>
                        VIP到期时间：
                        2018-08-22
                        <a href="http://www.51jurenqi.com/main/account/accGmjb/?module=vip"
                           style="color:#3e99d7;margin-left:20px;">立即续费</a>

            <i style="color:#9f9fa4;margin-left:10px;margin-right:5px;">|</i>
            <a href="javascript:;" id="outLogin">安全退出</a>
            <a href="http://www.51jurenqi.com/main/home/index"
               style="float:right;font-size:12px;color:#5e5e5e;margin-left:20px;margin-top:2px;">返回首页</a>
    </div>

</div>
</div>